<h2><img src="/img/default-img.jpg"  alt=""/> {{artsitName }}</h2>
<p>{{artsitDecription}}</p>
<h3>Songs</h3>
<ul id="songList">
    {{#each songListItem}}
      <li> <a href="#songID">{{songName }}</a></li>
    {{/each}}
  </ul>
