<p>explore our artists</p>

<ul id="artsitList">
    {{#each artsitListItem}}
      <li> <a href="#artsitID"><img src="/img/default-img.jpg"  alt=""/>  {{artsitName }}</a>
	  <p><a href="#editArtsitID">edit</a></p></li>
    {{/each}}
  </ul>
